---
import { SEO } from "astro-seo";
const { title, seoTitle, seoDesc } = Astro.props;
---

<head>
  <SEO title={seoTitle} description={seoDesc} />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/Portfolio/port.svg" />
  <title>{title}</title>
</head>
